#logo {
	text-decoration: none;
	color: black;
	text-shadow: 1px 1px 2px #c4c4c4;
	-webkit-user-select: none;
	-moz-user-select:none;
	-ms-user-select: none;
	user-select: none;
}
/*Search elements*/
.searchbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 40px;
  z-index: 1;
}
.searchresults {
  z-index: -1;
}
/*navigation bar styling*/
nav {
  /*Base nav class*/
  width: 100%;
  height: 38px;
  background-color: black;
  overflow-y: hidden;
  position: fixed;
  z-index: 2;
}
nav a {
  display: block;
  float: left;
  /*We're just setting up fonts settings here*/
  font-family: sans-serif;
  font-size: 13.5px;
  color: white;
  /*Padding Our Box*/
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  text-decoration: none;
  -webkit-transition: background-color 0.125s; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.125s;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select: none;
  user-select: none;
}
nav a:hover {
  /*Changes background color on hover*/
  background-color: #666666; 
}
#nav-logo {
  /*Logo extension*/
  /*font*/
  font-family: 'Hind', sans-serif;
  font-size: 25px;
  letter-spacing: -2px;
  /*Optional text shadow for the logo*/
  text-shadow: 1px 1px 2px #c4c4c4;
  /*box*/
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3.5px;
  margin-top: -13.5px;
  color: white;
}

div.wrapper{
	/*Text margin*/
	margin: auto;
	width: 60%;
	padding:  10px;
}
/*Changelog text*/
div.container {
	position: relative;
}
div.contained {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 40px;
	z-index: -1;
	font-weight: bold;
}
h1 {
	text-align: center;
}
div.bottom-padding {
	padding-bottom: 10px;
}
/*Dark mode*/
.darkwrapper {
	background-color: #ffffff;
}
.up-changelog {
	/* text decor for the changelog text*/
	color: black;
}

@media (prefers-color-scheme: light) {
	.darkwrapper {
		background-color: #ffffff;
	}
	.up-changelog {
		/* text decor for the changelog text*/
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	.darkwrapper {
		background-color: #666666;
	}
	.up-changelog {
	/* text decor for the changelog text*/
	color: white;
}
}

@media (prefers-color-scheme: no-preference) {
	.darkwrapper {
		background-color: #ffffff;
	}
	.up-changelog {
	/* text decor for the changelog text*/
	color: black;
}
}

/*Preloader*/

.sk-cube-grid {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: black;
z-index: 2;
}

/*Contributors section*/

div.contrib {
	position: bottom;
}

.contrib-button {
	display: inline-block;
	padding: 13px 23px;
	background: black;
	color: white;
	webkit-transition: 0.2s all;
	transition: 0.2s all;
	-webkit-user-select: none;
	-moz-user-select:none;
	-ms-user-select: none;
	user-select: none;
}

.contrib-button:hover {
	background: white;
	color:black;
}

.contrib-text {
	display: none;
}

.pfp {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	padding-right: 5px;
}
