<!DOCTYPE html>
<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ySearch Changelog - ySearch is a search engine made with Python, HTML, CSS, and JavaScript." />
    <title>ySearch Changelog</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
	<noscript>Please enable JavaScript in your browser to use ySearch</noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="darkwrapper">
	{% include "load.html" %}
    <nav>
    <a href="/" id="nav-logo">ySearch</a> 
    <a href="/changelog">Changelog</a> 
    <a href="/info">Info</a> 
    <a href="https://gitlab.com/karx/ysearch" target="_blank">Source</a></nav>
    <br />
    <br />
    <br />
    <h1 id="logo">Changelog</h1>
    <div class="wrapper">For a more detailed changelog, click 
    <a href="https://gitlab.com/karx/ysearch/commits/master" target="_blank" class="up-changelog">here.</a>
    <div class="container">
      <div class="contained">v5.1</div>
      <ul>
        <li>Cut loading times</li>
        <li>Fix visual bug</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v5.0.2</div>
      <ul>
        <li>Revamp contributors section</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v5.0.1</div>
      <ul>
        <li>Revamp error page</li>
        <li>Add CSS specifically for error pages</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v5.0.0</div>
      <ul>
        <li>Version 5 brings massive performance improvements as well as bug fixes galore.</li>
        <li>Because the changes are so massive, it is essentially a new website under the hood.</li>
        <li>Reworked error handling</li>
        <li>Reworked page routing</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.2.1</div>
      <ul>
        <li>Fix bug where page is loading forever</li>
        <li>More UI Tweaks</li>
        <li>Better error handling</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.2.0</div>
      <ul>
        <li>Update loading animation</li>
        <li>Add error handling</li>
        <li>UI tweaks</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.1.1</div>
      <ul>
        <li>Update loading animation</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.1.0</div>
      <ul>
        <li>Add loading animation</li>
        <li>Made static files easier to access</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.0.1</div>
      <ul>
        <li>Made changelog actually use SemVer</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v4.0.0</div>
      <ul>
        <li>Add Dark Mode support</li>
        <li>Add comments to code</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v3.3.0</div>
      <ul>
        <li>Fix bug where nav couldn't be clicked when search bar was sticking</li>
        <li>Update Cosmetics</li>
        <li>Fix code formatting errors</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v3.2.0</div>
      <br />
      <ul>
        <li>Add badges to info page</li>
        <li>Fix code formatting errors</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v3.1.0</div>
      <br />
      <ul>
        <li>Add more info to info page</li>
        <li>Add cosmetics to changelog</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v3.0.0</div>
      <br />
      <ul>
        <li>Add logo to nav</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v2.0.0</div>
      <br />
      <ul>
        <li>Add info page</li>
      </ul>
    </div>
    <div class="container">
      <div class="contained">v1.0.0</div>
      <br />
      <ul>
        <li>Initial Release</li>
      </ul>
    </div>
  </body>
</html>
