<!DOCTYPE html>
<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ySearch - ySearch is a search engine made with Python, HTML, CSS, and JavaScript." />
    <title>ySearch</title>
	<noscript>Please enable JavaScript in your browser to use ySearch</noscript>
    <script async="" src="https://cse.google.com/cse.js?cx=017891514378414111880:msmf1h-ke7i"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="Iuw-4Y5C9BrqszF7SU_X0_de9zqCn9K3RxfosIonZlI" />
  </head>
  <body>
	{% include "load.html" %}
    <!--Dark mode wrapper-->
    <div class="darkwrapper">
      <nav>
      <a href="/" id="nav-logo">ySearch</a> 
      <a href="/changelog">Changelog</a> 
      <a href="/info">Info</a> 
      <a href="https://gitlab.com/karx/ysearch" target="_blank">Source</a></nav>
      <br />
      <br />
      <br />
      <h1 id="logo">ySearch</h1>
      <!--Search elements-->
      <div class="searchbar">
        <div class="gcse-searchbox"></div>
      </div>
      <div class="searchresults">
        <div class="gcse-searchresults"></div>
      </div>
    </div>
  </body>
</html>
