<!DOCTYPE html>
<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="ySearch Info - ySearch is a search engine made with Python, HTML, CSS, and JavaScript." />
    <title>ySearch Info</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
	<noscript>Please enable JavaScript in your browser to use ySearch</noscript>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <script src="refresh.js"></script>
    <script src="toggle.js"></script>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body class="darkwrapper">
	{% include "load.html" %}
    <nav>
    <a href="/" id="nav-logo">ySearch</a> 
    <a href="/changelog">Changelog</a> 
    <a href="/info">Info</a> 
    <a href="https://gitlab.com/karx/ysearch" target="_blank">Source</a></nav>
    <br />
    <br />
    <br />
    <h1 id="logo">Info</h1>
    <div class="wrapper">
    <!--Badges-->
    <!--src="https://app.codeship.com/projects/2fa6d1d0-c864-0137-2edd-661ee1438eca/status&branch=master" alt="Codeship build status" -->
    <img src="https://app.codeship.com/projects/2fa6d1d0-c864-0137-2edd-661ee1438eca/status?branch=master"
    alt="Codeship build status" id="build" /> 
    <a href="{{ commit_link }}" target="_blank"><img src="https://img.shields.io/badge/commit-{{ commit }}-informational" alt="GitLab commit" /></a> 
    <img src="https://img.shields.io/badge/Python-2.7--3.8.0-blue" alt="Python versions tested" /> 
    <img src="https://img.shields.io/badge/Flask-1.1.1-informational" alt="Flask version" />
    <br />ySearch is a search engine made with Python, HTML, CSS, and JavaScript.
    <br />It is powered by Google Custom Search Engine, Pure CSS, jQuery, and Flask. It is hosted on Heroku.
    <br />It contains {{ line_count }} lines spread out over {{ file_count }} files.
    <div class="contrib">
      <br />
      <br />
      <br />
      <a class="contrib-button" onclick="toggleText()">Contributors</a>
      <br />
      <br />
      <br />
      <div class="contrib-text">
      <img src="https://cdn--nerdstep710.repl.co/file?n=9d2b6946ee1aca127f782dad413bd839.jpg" class="pfp" alt="" />karx
      <br />
      <br />
      <img src="https://cdn--nerdstep710.repl.co/file?n=4133957d7c167c8b9777e4c710de97f8.jpg" class="pfp" alt="" />VolcanicAsh</div>
    </div></div>
  </body>
</html>
