    <div class="spinner-wrapper">
      <div class="sk-cube-grid">
      <img src="favicon.ico" class="sk-cube sk-cube1" alt="loading 1" /> 
      <img src="favicon.ico" class="sk-cube sk-cube2" alt="loading 2" /> 
      <img src="favicon.ico" class="sk-cube sk-cube3" alt="loading 3" /> 
      <img src="favicon.ico" class="sk-cube sk-cube4" alt="loading 4" /> 
      <img src="favicon.ico" class="sk-cube sk-cube5" alt="loading 5" /> 
      <img src="favicon.ico" class="sk-cube sk-cube6" alt="loading 6" /> 
      <img src="favicon.ico" class="sk-cube sk-cube7" alt="loading 7" /> 
      <img src="favicon.ico" class="sk-cube sk-cube8" alt="loading 8" /> 
      <img src="favicon.ico" class="sk-cube sk-cube9" alt="loading 9" /></div>
    </div>